/*font-family: 'Caveat',
cursive;
font-family: 'Fira Sans',
sans-serif;
font-family: 'Scada',
sans-serif;*/
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.logo-text {
  padding: 20px 10px 10px 15px;
  font-family: "Barlow", sans-serif;
  font-size: 35px;
  line-height: 1.25rem; }
  .logo-text__color_black {
    color: black; }
  .logo-text__color_blue {
    color: #4C91F8; }
  .logo-text__color_white {
    color: white; }

.container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; }

.custom_light {
  width: 70px;
  height: 100vh;
  padding: 35px 0 0 0;
  background-color: #3876D2;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.user_img {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.menu {
  padding: 20px 0 0 30px;
  width: 300px;
  height: 100%; }
  .menu__list {
    margin: 0 0 0 0;
    padding: 50px 0 0 0; }
  .menu__items {
    list-style-type: none; }
  .menu__item {
    margin: 0 0 0 0;
    padding: 2px 0 2px 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #b1b1b1;
    text-decoration: none; }
    .menu__item:hover {
      color: #4C91F8;
      cursor: pointer; }
    .menu__item_select {
      color: #4C91F8; }
      .menu__item_select:hover {
        cursor: auto; }

.date__day {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 50px;
  color: #4C91F8; }
.date__month {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: #000; }
.date__weekday {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 10px;
  color: #000; }

.main__data {
  margin: 0 0 0 0;
  padding: 35px 0 0 20px;
  min-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  .main__data_title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4C91F8; }
  .main__data_line {
    padding-bottom: 1px;
    border-bottom: 1px dashed #000; }
    .main__data_line:hover {
      cursor: pointer; }

.vshow {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000; }

.goals {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 30px 0; }

.text__list_items {
  padding: 10px 0 0 15px; }

.text__list_item {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000; }

.aims {
  padding: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  .aims__text {
    width: 600px;
    padding: 0 15px 0 0; }
  .aims__footnotes {
    padding: 0 0 0 10px;
    max-width: 150px;
    width: 100%; }

.footnotes__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #000; }

.footnotes__numbers {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px; }
  .footnotes__numbers_color-red {
    color: #ff0000; }
  .footnotes__numbers_color-green {
    color: #00ff95; }

.text__strike {
  text-decoration: line-through;
  text-decoration-color: #b1b1b1;
  color: #b1b1b1; }

.item-input {
  padding: 0 10px;
  width: 450px;
  height: 35px;
  border: 1px solid #B1B1B1;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000; }
