/*font-family: 'Caveat',
cursive;
font-family: 'Fira Sans',
sans-serif;
font-family: 'Scada',
sans-serif;*/
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-size: 10px; }

.header__logo {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem; }
  .header__logo_black {
    color: #000; }
  .header__logo_blue {
    color: #4C91F8; }
