@import '../../scss/_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
}

.left-menu {
    width: 260px;
    padding: 40px 0 0 30px;
}

.date {
    padding-bottom: 25px;
    &__text {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.7rem;
        color: $color-black;
        text-transform: uppercase;
        &:first-of-type {
            padding-bottom: 10px;
        }
    }
    &__numb {
        color: $color-blue;
    }
}

.stiky {
    position: sticky;
    top: 40px;
}

.date-numb {
    display: flex;
    align-items: flex-end;
}

.number {
    font-family: $font_main-text;
    font-weight: 500;
    font-size: 5rem;
    line-height: 100%;
    color: $color-blue;
}

.month {
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    color: $color-black;
    text-transform: uppercase;
    padding: 0 0 3px 7px;
}

.line {
    width: 200px;
    height: 2px;
    background-color: $color-blue;
    border-radius: 10px;
}

.menu {
    padding-top: 25px;
    &__item {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 30px;
        color: $color-black;
    }
    &__item-link {
        display: block;
        color: $color-blue;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: $color-black;
        }
    }
}

.submenu__item {
    display: block;
    padding-left: 20px;
}

.dop-menu {
    padding-top: 30px;
}

.main {
    &__style {
        width: 100%;
        padding-left: 50px;
        padding-bottom: 50px;
    }
}

.top-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px 0 0;
    &__link {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $color-blue;
        display: block;
        padding: 0 15px;
        &:hover {
            text-decoration: none;
            color: $color-black;
        }
    }
}

.notification {
    padding: 0 20px;
    position: relative;
    &::after {
        content: '2';
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $color-red;
        color: $color-white;
        font-family: $font_main-text;
        font-size: 1.1rem;
        top: -3px;
        right: 15px;
        position: absolute;
        text-align: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.bell {
    color: $color-blue;
    &:hover {
        color: $color-black;
    }
}

.user {
    &__img {
        border-radius: 50%;
    }
}

.welcome {
    &__title {
        font-family: $font_main-text;
        font-weight: 600;
        font-size: 5rem;
        line-height: 95%;
        color: $color-black;
        padding-bottom: 10px;
    }
    &__chapter {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 3rem;
        line-height: 4rem;
        color: $color-black;
        padding-top: 25px;
    }
    &__text {
        width: 700px;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 2.4rem;
        color: $color-black;
        padding-bottom: 10px;
    }
    &__link {
        color: $color-blue;
        &:hover {
            text-decoration: none;
            color: $color-black;
        }
    }
}

.soc {
    &__items {
        width: 200px;
        padding: 10px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }
}

.soc__item {
    width: 40px;
    height: 40px;
    fill: $color-black;
    &:hover {
        cursor: pointer;
        fill: $color-blue;
    }
}

.archive {
    width: 72%;
    display: flex;
    justify-content: space-between;
    &__header {
        width: 530px;
        background-color: $color-blue-light;
        font-family: $font_main-text;
        font-size: 1.7rem;
        // text-transform: uppercase;
        font-weight: 400;
        color: $color-white;
        display: flex;
        height: 50px;
        align-items: center;
        text-align: center;
        border-radius: 10px 10px 0 0;
        border: 1px solid $color-blue-light;
    }
    &__numb {
        padding-left: 10px;
        width: 60px;
    }
    &__date {
        width: 140px;
    }
    &__status {
        width: 180px;
    }
    // .archive__data
    &__data {
        border: 1px solid $color-blue-light;
        border-top: none;
        font-family: $font_main-text;
        font-size: 1.5rem;
        font-weight: 400;
        color: $color-black;
        display: flex;
        height: 30px;
        align-items: center;
        text-align: center;
        &:last-of-type {
            border-radius: 0 0 10px 10px;
        }
    }
    // .archive__numb-data
    &__numb-data {
        width: 50px;
    }
    // .archive__date-data
    &__date-data {
        width: 150px;
    }
    // .archive__status-data
    &__status-data {}
    &__calend {
        width: 150px;
    }
    // .archive__input
    &__input {
        width: 100%;
    }
}