!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
config/db_real.php
config/db.php
/.idea/

.idea/workspace.xml
.idea/workspace.xml
/views/layouts/main — копия.php
.idea/workspace.xml
*.xml
.idea/workspace.xml
/.idea/
config/web.php
www/index.php
/vendor/
