
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-arrows-ccw:before { content: '\e801'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e802'; } /* '' */
.icon-arrows-cw-1:before { content: '\e803'; } /* '' */
.icon-loop:before { content: '\e804'; } /* '' */
.icon-arrow-curved:before { content: '\e805'; } /* '' */
.icon-arrows-cw-2:before { content: '\e806'; } /* '' */
.icon-updown-circle:before { content: '\e807'; } /* '' */