/*font-family: 'Caveat',
cursive;
font-family: 'Fira Sans',
sans-serif;
font-family: 'Scada',
sans-serif;*/
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  outline: none;
  font-size: 10px; }

.logo-text {
  padding: 20px 10px 10px 15px;
  font-family: "Barlow", sans-serif;
  font-size: 35px;
  line-height: 1.25rem; }
  .logo-text__color_black {
    color: black; }
  .logo-text__color_blue {
    color: #4C91F8; }
  .logo-text__color_white {
    color: white; }

.container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; }

.custom_light {
  width: 70px;
  height: 100vh;
  padding: 35px 0 0 0;
  background-color: #3876D2;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.user_img {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.menu {
  padding: 20px 0 0 30px;
  width: 300px;
  height: 100%; }
  .menu__list {
    margin: 0 0 0 0;
    padding: 50px 0 0 0; }
  .menu__items {
    list-style-type: none; }
  .menu__item {
    margin: 0 0 0 0;
    padding: 2px 0 2px 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #b1b1b1;
    text-decoration: none; }
    .menu__item:hover {
      color: #4C91F8;
      cursor: pointer; }
    .menu__item_select {
      color: #4C91F8; }
      .menu__item_select:hover {
        cursor: auto; }

.date__day {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 50px;
  color: #4C91F8; }

.date__month {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: #000; }

.date__weekday {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 10px;
  color: #000; }

.main__data {
  margin: 0 0 80px 0;
  padding: 35px 0 0 20px;
  min-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  .main__data_title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4C91F8; }
  .main__data_line {
    padding-bottom: 1px;
    border-bottom: 1px dashed #000; }
    .main__data_line:hover {
      cursor: pointer; }

.vshow {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000; }

.goals {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 30px 0; }

.text__list_items {
  padding: 10px 0 0 15px; }

.text__list_item {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000; }
  .text__list_item_checked {
    text-decoration: line-through; }

.aims {
  padding: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  .aims__text {
    width: 600px;
    padding: 0 15px 0 0; }
  .aims__footnotes {
    padding: 0 0 0 10px;
    max-width: 150px;
    width: 100%; }

.footnotes__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #000; }

.footnotes__numbers {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px; }
  .footnotes__numbers_color-red {
    color: #ff0000; }
  .footnotes__numbers_color-green {
    color: #00ff95; }

.text__strike {
  text-decoration: line-through;
  text-decoration-color: #b1b1b1;
  color: #b1b1b1; }

.item-input {
  padding: 0 10px;
  width: 450px;
  height: 35px;
  border: 1px solid #B1B1B1;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000; }

.hidden_block {
  display: none; }

.task__input {
  width: 350px;
  height: 30px;
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px; }

.task__settings {
  background-color: lightgray;
  display: none;
  width: 300px;
  height: 100px;
  box-shadow: 2px 1px 5px;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  left: 360px;
  top: 10px; }

.tasks-form {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.tasks-all {
  width: 50%; }

.task__input_block {
  position: relative; }

.text__list_empty {
  font-style: italic; }

.tasks__list_create {
  font-size: 12px;
  display: block;
  color: grey; }

.task_transfer_btn {
  border: none;
  background-color: #88c9ff;
  margin: 0 0 0 20px;
  border-radius: 7px;
  width: 34px;
  height: 29px;
  font-size: 23px; }

.disable_icon {
  background-color: #f7f5f7;
  color: #b1b1b1; }

.task_transfer_btn:active {
  transform: scale(0.95); }

.task_transfer_btn:disabled {
  background-color: #f7f5f7;
  color: grey; }

.main_menu-selected a {
  font-weight: 700;
  color: #4C91F8; }

.header__style {
  padding: 20px 0 0 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1; }

.header__logo {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem; }
  .header__logo_black {
    color: #000; }
    .header__logo_black:hover {
      color: #4C91F8; }
      .header__logo_black:hover .header__logo_blue {
        color: #000; }
  .header__logo_blue {
    color: #4C91F8; }
  .header__logo-link {
    text-decoration: none; }
    .header__logo-link:hover {
      text-decoration: none; }

.header__items {
  padding-right: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.header__item {
  padding: 0 10px; }

.header__menu {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #000; }
  .header__menu-active {
    color: #4C91F8; }
  .header__menu-link {
    color: #000;
    text-decoration: underline; }
    .header__menu-link:hover {
      color: #4C91F8;
      text-decoration: none;
      cursor: pointer; }

.header__btn {
  height: 40px;
  width: 190px;
  border-radius: 10px;
  background-color: #4C91F8;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  outline: none;
  border: 0px; }
  .header__btn:hover {
    cursor: pointer;
    background-color: #609df8; }

.invisible {
  display: none; }

.modal {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px; }
  .modal__style {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -6px 4px 10px 1px #f7f5f7;
    top: 65px;
    right: 40px;
    padding: 40px 40px 0 40px;
    z-index: 3; }
  .modal__title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.1rem;
    color: #000; }
  .modal__form {
    width: 100%;
    height: 290px;
    padding: 20px 0 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .modal__form-remind {
      width: 100%;
      height: 190px;
      padding: 20px 0 270px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .modal__form-sign {
      width: 100%;
      height: 290px;
      padding: 10px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
  .modal__input {
    height: 40px;
    width: 320px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b1b1b1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #b1b1b1;
    padding: 10px 0 10px 15px; }
  .modal__sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; }
  .modal__btn {
    width: 150px;
    height: 50px;
    background: #4C91F8;
    border-radius: 10px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.8rem;
    outline: none;
    border: 0px; }
    .modal__btn:hover {
      background-color: #609df8; }
    .modal__btn-sign {
      width: 200px;
      font-size: 1.8rem;
      line-height: 2.3rem; }
  .modal__sign-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #000;
    padding: 10px 0 45px 0; }
    .modal__sign-text_link {
      text-decoration: underline;
      color: #000; }
      .modal__sign-text_link:hover {
        color: #4C91F8;
        cursor: pointer;
        text-decoration: none; }
  .modal__link {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-decoration-line: underline;
    color: #4C91F8; }
    .modal__link:hover {
      text-decoration: none;
      color: #609df8;
      cursor: pointer; }
  .modal__reg {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding: 13px 0 13px 0;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem; }
    .modal__reg:hover {
      background-color: #f7f5f7; }
    .modal__reg_white {
      border: 1px solid #4C91F8;
      color: #000;
      background-color: #fff; }
    .modal__reg_blue {
      color: #fff;
      background-color: #4C91F8; }
  .modal__close {
    width: 40px;
    height: 40px;
    background-color: #4C91F8;
    position: absolute;
    top: 85px;
    right: 440px;
    z-index: 4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 200;
    font-family: "Source Sans Pro", sans-serif; }
    .modal__close:hover {
      cursor: pointer;
      background-color: #609df8; }

.input_error {
  border: 1px solid red; }

.div_center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 100%;
  display: flex;
  justify-content: center; }

.main__style {
  width: 1000px;
  padding: 40px 0 0 0; }

.main__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.3rem;
  color: #000;
  padding-bottom: 20px; }

.main__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.4rem;
  color: #000;
  padding-bottom: 30px; }

.about {
  padding: 50px 0 0 0; }

.h2__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.7rem;
  color: #000; }

.form-group {
  margin: 0 0 20px 0;
  position: relative; }
  .form-group .help-block-error {
    font-size: 12px;
    position: absolute;
    top: 55px;
    left: 0; }
