$font-logo: 'Barlow',
sans-serif;
$font_main-text: 'Source Sans Pro',
sans-serif;

/*font-family: 'Caveat',
cursive;
font-family: 'Fira Sans',
sans-serif;
font-family: 'Scada',
sans-serif;*/

$color-blue: #4C91F8;
$color-blue-light: #609df8;
$color-menu: #3876D2;
$color-black: #000;
$color-white: #fff;
$color-gray: #b1b1b1;
$color-red: #ff0000;
$color-green: #00ff95;
$color-icons: rgb(136, 201, 255);
$color-disable: rgb(247, 245, 247);
$color-disable2: grey;