@import '_param';
// @font-face {
//     font-family: 'Barlow';
//     src: url('../font/Barlow/black/barlow-black.eot');
//     src: local('barlow-black'), local('barlow-black'), url('../font/Barlow/black/barlow-black.eot?#iefix') format('embedded-opentype'), url('../font/Barlow/black/barlow-black.woff2') format('woff2'), url('../font/Barlow/black/barlow-black.woff') format('woff'), url('../font/Barlow/black/barlow-black.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Barlow';
//     src: url('../font/Barlow/bold/barlow-bold.eot');
//     src: local('barlow-bold'), local('barlow-bold'), url('../font/Barlow/bold/barlow-bold.eot?#iefix') format('embedded-opentype'), url('../font/Barlow/bold/barlow-bold.woff2') format('woff2'), url('../font/Barlow/bold/barlow-bold.woff') format('woff'), url('../font/Barlow/bold/barlow-bold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Barlow';
//     src: url('../font/Barlow/light/barlow-light.eot');
//     src: local('barlow-light'), local('barlow-light'), url('../font/Barlow/light/barlow-light.eot?#iefix') format('embedded-opentype'), url('../font/Barlow/light/barlow-light.woff2') format('woff2'), url('../font/Barlow/light/barlow-light.woff') format('woff'), url('../font/Barlow/light/barlow-light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Barlow';
//     src: url('../font/Barlow/regular/barlow-regular.eot');
//     src: local('barlow-regular'), local('barlow-regular'), url('../font/Barlow/regular/barlow-regular.eot?#iefix') format('embedded-opentype'), url('../font/Barlow/regular/barlow-regular.woff2') format('woff2'), url('../font/Barlow/regular/barlow-regular.woff') format('woff'), url('../font/Barlow/regular/barlow-regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Barlow';
//     src: url('../font/Barlow/semibold/barlow-semibold.eot');
//     src: local('barlow-semibold'), local('barlow-semibold'), url('../font/Barlow/semibold/barlow-semibold.eot?#iefix') format('embedded-opentype'), url('../font/Barlow/semibold/barlow-semibold.woff2') format('woff2'), url('../font/Barlow/semibold/barlow-semibold.woff') format('woff'), url('../font/Barlow/semibold/barlow-semibold.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Source Sans Pro";
//     src: url('../font/Source_Sans_Pro/bold/sourcesanspro-bold.eot');
//     src: url('../font/Source_Sans_Pro/bold/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('../font/Source_Sans_Pro/bold/sourcesanspro-bold.woff2') format('woff2'), url('../font/Source_Sans_Pro/bold/sourcesanspro-bold.woff') format('woff'), url('../font/Source_Sans_Pro/bold/sourcesanspro-bold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Source Sans Pro';
//     src: url('../font/Source_Sans_Pro/light/sourcesanspro-light.eot');
//     src: local('sourcesanspro-light'), local('sourcesanspro-light'), url('../font/Source_Sans_Pro/light/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('../font/Source_Sans_Pro/light/sourcesanspro-light.woff2') format('woff2'), url('../font/Source_Sans_Pro/light/sourcesanspro-light.woff') format('woff'), url('../font/Source_Sans_Pro/light/sourcesanspro-light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Source Sans Pro';
//     src: url('../font/Source_Sans_Pro/regular/sourcesanspro-regular.eot');
//     src: local('sourcesanspro-regular'), local('sourcesanspro-regular'), url('../font/Source_Sans_Pro/regular/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../font/Source_Sans_Pro/regular/sourcesanspro-regular.woff2') format('woff2'), url('../font/Source_Sans_Pro/regular/sourcesanspro-regular.woff') format('woff'), url('../font/Source_Sans_Pro/regular/sourcesanspro-regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Source Sans Pro';
//     src: url('../font/Source_Sans_Pro/semibold/sourcesanspro-semibold.eot');
//     src: local('sourcesanspro-semibold'), local('sourcesanspro-semibold'), url('../font/Source_Sans_Pro/semibold/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../font/Source_Sans_Pro/semibold/sourcesanspro-semibold.woff2') format('woff2'), url('../font/Source_Sans_Pro/semibold/sourcesanspro-semibold.woff') format('woff'), url('../font/Source_Sans_Pro/semibold/sourcesanspro-semibold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.invisible {
    display: none;
}

.input_error {
    border: 1px solid red;
}

.padding-top_20 {
    padding-top: 20px;
    // display: block;
}

.wrapper {
    width: 100%;
}

.section_container {
    display: block;
    width: 1000px;
    margin: 0 auto;
}

.curator .section_container {
    width: 1000px;
    margin: 0 auto;
    // border: 1px solid blue;
}



.header {
    &__style {
        padding-top: 20px;
        width: 96%;
        margin: 0 auto;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 20px;
    }
    &-logo-link {
        text-decoration: none;
        &:hover {
            text-decoration: none;
            .header-logo-text {
                color: $color-blue
            }
            .header-logo-text-self {
                color: $color-black;
            }
        }
    }
    &-logo-text {
        color: $color-black;
        font-size: 1.58rem;
        padding: 5px 0 0 12px;
        line-height: 0;
        & span {
            text-transform: uppercase;
            font-size: 1.58rem;
        }

    }
    &-logo-text-self {
        color: $color-blue;
    }
    &__logo {
        font-family: $font_main-text;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.6rem;
        text-transform: uppercase;
        &_black {
            color: $color-black;
            &:hover {
                color: $color-blue;
                .header__logo_blue {
                    color: $color-black;
                }
            }
        }
        &_blue {
            color: $color-blue;
        }
        &-link {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__items {
        padding-right: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__item {
        padding: 0 10px;
    }
    &__menu {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $color-black;
        &-active {
            color: $color-blue;
        }
        &-link {
            color: $color-black;
            text-decoration: underline;
            &:hover {
                color: $color-blue;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    &__btn {
        height: 50px;
        width: 200px;
        border-radius: 10px;
        background-color: $color-blue;
        color: $color-white;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        outline: none;
        border: 0px;
        // box-shadow: 2px 2px 2px 2px $color-icons;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
        }
    }
    &__title {
        max-width: 1100px;
        font-family: $font_main-text;
        font-weight: 600;
        font-size: 5rem;
        line-height: 63px;
        text-align: center;
        color: $color-black;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    &__text,
    &__text strong {
        max-width: 985px;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 4rem;
        line-height: 50px;
        color: $color-black;
        margin: 0 auto;
    }
    &__text span {
        font-family: $font_main-text;
        font-size: 4rem;
    }
    &__text_color-blue {
        color: $color-blue;
        font-weight: 600;
    }
}

strong {
    font-weight: 700 !important;
    font-size: inherit;
}

.modal {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    &__style {
        position: absolute;
        width: 400px;
        height: 500px;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 0px 0 10px 9px $color-shadow;
        top: 65px;
        right: 40px;
        padding: 40px 40px 0 40px;
        z-index: 3;
        & .form-group {
            margin: 0;
        }
    }
    &__title {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3.1rem;
        color: $color-black;
        margin: 0;
    }
    &__form {
        width: 100%;
        height: 290px;
        padding: 10px 0 75px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 65px 0;
        &-remind {
            width: 100%;
            height: 190px;
            padding: 10px 0 280px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 65px 0;
        }
        &-sign_up {
            width: 100%;
            height: 355px;
            padding: 10px 0 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
        &-restore {
            width: 100%;
            height: 355px;
            padding: 10px 0 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            & .field-restore-email {
                display: none;
            }
        }
    }
    &__input {
        height: 40px;
        width: 320px;
        border-radius: 10px;
        outline: none;
        border: 1px solid $color-gray;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.9rem;
        color: $color-gray;
        padding: 10px 0 10px 15px;
    }
    &__sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 0 0;
    }
    &__btn {
        width: 150px;
        height: 50px;
        background: $color-blue;
        border-radius: 10px;
        color: $color-white;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 2.8rem;
        outline: none;
        border: 0px;
        &:hover {
            background-color: $color-blue-light;
        }
        &-sign {
            width: 200px;
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
        &-restore {
            width: 200px;
            font-size: 1.8rem;
            line-height: 2.3rem;
            margin: 0 auto;
        }
    }
    &__sign-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: $color-black;
        &_link {
            text-decoration: underline;
            color: $color-black;
            &:hover {
                color: $color-blue;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    &__link {
        display: block;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        text-decoration-line: underline;
        color: $color-blue;
        &:hover {
            text-decoration: none;
            color: $color-blue-light;
            cursor: pointer;
        }
    }
    &__reg {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        padding: 13px 0 13px 0;
        text-align: center;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.3rem;
        &:hover {
            background-color: $color-disable;
        }
        &_white {
            border: 1px solid $color-blue;
            color: $color-black;
            background-color: $color-white;
        }
        &_blue {
            color: $color-white;
            background-color: $color-blue;
        }
    }
    &__close {
        width: 40px;
        height: 40px;
        background-color: $color-blue;
        position: absolute;
        top: 85px;
        right: 440px;
        z-index: 4;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        font-weight: 200;
        font-family: $font_main-text;
        padding: 0 0 6px 0;
        box-shadow: -9px 1px 9px 2px $color-shadow;
        // opacity: .8;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
            // color: $color-disable;
        }
    }

    & .help-block-error {
        height: 5px;
    }
}
.modal2 {
    display: block;
    width: 100%;
    height: 400px;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    top: 90px;
    left: 0;

    &_group {
        position: relative;
        margin: 0 auto;
        width: 500px;
        z-index: 3;
    }
    &__style {
        position: relative;
        width: inherit;
        min-height: 360px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 14px 3px #e0ded2;
        padding: 90px 40px 10px 40px;
        & .form-group {
            margin: 0;
        }
    }
    &__title {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3.1rem;
        color: $color-black;
        margin: 0;
    }
    &__form {
        width: 100%;
        height: 230px;
        //padding: 10px 0 75px 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
        &-remind {
            width: 100%;
            height: 190px;
            padding: 10px 0 280px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 65px 0;
        }
        &-sign_up {
            width: 100%;
            height: 355px;
            padding: 10px 0 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
        &-restore {
            width: 100%;
            height: 355px;
            padding: 10px 0 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            & .field-restore-email {
                display: none;
            }
        }
    }
    &__input {
        height: 40px;
        width: 420px;
        border-radius: 10px;
        outline: none;
        border: 1px solid $color-gray;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.9rem;
        color: $color-gray;
        padding: 10px 0 10px 15px;
    }
    &__sub {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }
    &__btn {
        width: 120px;
        height: 50px;
        background: $color-blue;
        border-radius: 10px;
        color: $color-white;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 2.8rem;
        outline: none;
        border: 0px;
        margin: 0 auto;
        &:hover {
            background-color: $color-blue-light;
        }
        &-sign {
            width: 200px;
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
        &-restore {
            width: 200px;
            font-size: 1.8rem;
            line-height: 2.3rem;
            margin: 0 auto;
        }
    }
    &__sign-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: $color-black;
        &_link {
            text-decoration: underline;
            color: $color-black;
            &:hover {
                color: $color-blue;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    &__link {
        display: block;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        text-decoration-line: underline;
        color: $color-blue;
        &:hover {
            text-decoration: none;
            color: $color-blue-light;
            cursor: pointer;
        }
    }
    &__btn_mark {
        position: absolute;
        top: -50px;
        left: 712px;
        width: 250px;
        height: 50px;
        padding: 13px 0 13px 0;
        text-align: center;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.3rem;
        border: none;
        &:hover {
            background-color: $color-blue !important;
            color: $color-white;
        }
    }
    &__mark_reg {
        position: absolute;
        top: 0px;
        left: 250px;
        width: 250px;
        height: 50px;
        background-color: #fff;
        border-radius: 0 10px 0 0;
        z-index: 5;
    }
    &__mark_login {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 250px;
        height: 50px;
        background-color: #f0f0f0;
        border-radius: 10px 0 0 0;
        z-index: 5;
    }
    &__close {
        width: 40px;
        height: 40px;
        background-color: $color-blue;
        position: absolute;
        top: 50px;
        right: -40px;
        z-index: 4;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        font-weight: 200;
        font-family: $font_main-text;
        padding: 0 0 6px 0;
        box-shadow: 7px 1px 13px -7px $color-shadow;
        // opacity: .8;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
            // color: $color-disable;
        }
    }

    & .help-block-error {
        height: 5px;
    }
}

.main {
    &__style {
        width: 100%;
    }
}

.f-screen {
    &__style {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 70px;
    }
    &__left {
        padding-top: 30px;
        width: 260px;
        margin-right: -85px;
        padding-left: 45px;
    }
    &__left-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.49rem;
        line-height: 19px;
        color: $color-gray;
        padding-top: 110px;
    }
    &__center {
        width: 1100px;
        margin: 0 auto;
    }
    &__center-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 19px;
        color: $color-gray;
        padding-bottom: 10px;
        width: 650px;
        padding-left: 330px;
    }
    &__img {}
    &__center-caption {
        margin-top: -10px;
        font-family: $font_main-text;
        font-style: italic;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 15px;
        color: $color-gray;
        width: 655px;
        padding-left: 135px;
        padding-bottom: 50px;
    }
    &__right {
        padding-top: 30px;
        width: 260px;
        margin-left: -65px;
        padding-right: 35px;
    }
    &__right-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 19px;
        color: $color-gray;
        padding-top: 75px;
        padding-bottom: 100px;
    }
}

.title {
    font-family: $font_main-text;
    font-weight: 600;
    font-size: 5rem;
    line-height: 75px;
    color: $color-blue;
    text-transform: uppercase;
    padding-bottom: 25px;
    width: 1000px;
    margin: 0 auto;
}

.curator {
    width: 100%;
    &__text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 140%;
        color: $color-black;
        margin: 0;
        &:last-child {
            padding-bottom: 50px;
        }
    }
    &__sound {
        padding: 70px 0;
        display: flex;
        justify-content: center;
    }
    &__sound-oval {
        width: 350px;
        height: 65px;
        background-color: $color-white;
        border: 1px solid $color-blue-light;
        border-radius: 50px;
        display: flex;
        align-items: center;
        & p {
            margin: 0;
        }
    }
    &__sound-round {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        padding-left: 5px;
        border: none;
        background-color: $color-blue;
        color: $color-white;
        &:hover {
            background-color: $color-blue-light;
            cursor: pointer;
        }
    }
    &__sound-text {
        padding-left: 20px;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.9rem;
        color: $color-blue;
    }
    &__img {
        width: 555px;
        padding: 40px 0;
        margin: 0 auto;
    }
    &__caption {
        font-family: $font_main-text;
        font-style: italic;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $color-gray;
    }
    &__info {
        width: 100%;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 3.7rem;
        line-height: 4.5rem;
        color: $color-black;
    }
}

.section_container {
    width: 1000px;
    margin: 0 auto;
}

.container_full {
    width: 100%;
    height: 185px;
    background-color: $color-blue-light;
    padding: 40px 0;
    & a {
        font-size: inherit;
    }
    & .section_container {
        font-size: inherit;
        width: 1000px;
        margin: 0 auto;
    }
}

.tutor {
    padding-top: 65px;
    padding-bottom: 20px;
    width: 100%;
    & h2 {
        margin: 0;
    }
    & .container {
        width: 1000px;
        margin: 0 auto;
    }
    &__text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 140%;
        color: $color-black;
        padding-bottom: 20px;
    }
    &__img {
        padding: 40px 0;
        margin: 0 auto;
        width: 768px;
    }
    &__caption {
        font-family: $font_main-text;
        font-style: italic;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $color-gray;
        padding-left: 100px;
        margin-top: -30px;
    }
}

.chapter {
    padding-bottom: 30px;
    &__title {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 5rem;
        color: $color-black;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    &__text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 140%;
        color: $color-black;
        padding-bottom: 15px;
    }
}

.container_full-240 {
    height: 240px;
    padding: 50px 0;
    font-size: 3.4rem;
    font-family: $font_main-text;
    font-weight: 400;
    line-height: 4.5rem;
    color: $color-black;
}

.container_full-280 {
    height: 280px;
    padding: 50px 0;
    font-size: 3.4rem;
    font-family: $font_main-text;
    font-weight: 400;
    line-height: 4.5rem;
    color: $color-black;
}

.other {
    padding-top: 60px;
    clear: both;
    & .container {
        width: 1000px;
        margin: 0 auto;
    }
    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__btn {
        width: 300px;
        height: 60px;
        background: $color-blue;
        border-radius: 15px;
        font-family: $font_main-text;
        font-weight: 500;
        font-size: 2rem;
        line-height: 60px;
        text-transform: uppercase;
        color: $color-white;
        outline: none;
        border: none;
        text-align: center;
        &:hover {
            cursor: pointer;
            background: $color-blue-light;
        }
    }
    & .chapter {
        height: $height-chapter;
    }

}

.other__button {
    min-height: 125px;
    & .chapter {
        width: 100%;
        transition: all $anim_transition_chapters ease;
        & .chapter__title {
            transition: all $anim_transition_chapters ease;
        }
        & .chapter__text{
            transition: all $anim_transition_chapters ease;
        }
    }
}

.show_more {
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    left: -9999px;

    & + label {
        height: 60px;
        width: 300px;
        display: block;
        cursor: default;
    }
    // скрываем кнопку при нажатии
    &:checked + label {
        display: none;
    }
    &:checked {
        display: none;
    }
    // устанавливаем стили до нажатия кнопки
    & ~ .chapter {
        transition: height $anim_transition_chapters ease;
        opacity: 0;
        height: 0;
    }
    // устанавливаем стили после нажатия кнопки
    &:checked ~ .chapter {
        transition: all $anim_transition_chapters ease;
        opacity: 1;
        height: $height-chapter;
    }

}

.plate-link {
    color: $color-white;
    &:hover {
        color: $color-black;
    }
}

.rates {
    padding: 60px 0 80px 0;
    &__items {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        width: 240px;
        border-radius: 20px;
        padding-top: 25px;
    }
    &__text {
        padding: 10px 0;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: $color-black;
    }
    &__free-pay {
        padding-top: 20px;
        padding-bottom: 25px;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 2rem;
        color: $color-black;
        text-align: center;
        text-transform: uppercase;
    }
    &__name {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $color-black;
        padding-left: 30px;
    }
    &__price {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.8rem;
        color: $color-black;
        padding-left: 30px;
    }
    &__work-day {
        font-family: $font_main-text;
        font-weight: 600;
        font-size: 4rem;
        line-height: 4rem;
        color: $color-black;
        text-align: center;
        padding-bottom: 20px;
    }
    &__free-day {
        font-family: $font_main-text;
        font-weight: 600;
        font-size: 4rem;
        line-height: 4rem;
        color: $color-black;
        text-align: center;
        padding-bottom: 12px;
    }
    &__ratio {
        padding-top: 8px;
        font-family: $font_main-text;
        font-weight: 600;
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
        color: $color-black;
        padding-bottom: 12px;
    }
    &__plus {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
        color: $color-blue;
        padding-bottom: 7px;
    }
    &__minus {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
        padding-bottom: 7px;
        color: #656464;
    }
    &__button {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        width: 230px;
        height: 65px;
        background: $color-blue;
        border-radius: 15px;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 140%;
        color: $color-white;
        outline: none;
        border: none;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
        }
        &:disabled {
            background-color: $color-disable2;
            cursor: initial;
            color: $color-gray;
        }
    }
}

.btn__shadow {
    box-shadow: 3px 3px 8px 1px $color-gray;
    &:active {
        box-shadow: 1px 1px 10px 1px $color-gray;
        transform: scale(0.99);
    }
}

.rates-text {
    padding-top: 50px;
}

.rates-standart {
    width: 300px;
    background: #F8FBFF;
}

.rates-result {
    width: 300px;
    background: #DDE8F9;
}

.rates-break {
    width: 300px;
    background-color: #A5C3EF;
}

.rhino {
    width: 100%;
    min-height: 450px;
    background-image: url(../img/rhino_bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 2% 0 51%;
    &__text {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 3rem;
        line-height: 140%;
        color: $color-white;
    }
}

.footer {
    &__style {
        width: 100%;
        min-height: 300px;
        background-color: #032251;
        padding: 60px 0 0 60px;
        display: flex;
        justify-content: flex-start;
        background-image: url(../img/rhino-footer-bg.png);
        background-position: bottom right;
        background-repeat: no-repeat;
    }
    &__logo {}
    &__logo-text-1 {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2rem;
        color: $color-white;
        padding-left: 8px;
    }
    &__logo-text-2 {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 1.65rem;
        line-height: 1.65rem;
        color: $color-white;
        padding-left: 8px;
    }
    &__logo-text-3 {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: $color-white;
        padding-left: 8px;
    }
    &__logo-text-4 {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1rem;
        color: $color-white;
        padding-left: 10px;
    }
    &__soc {
        padding-top: 35px;
        padding-left: 230px;
    }
    &__soc-title {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $color-white;
    }
    &__soc-text {
        display: block;
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $color-gray;
        text-decoration: underline;
        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }
    &__sub {
        padding-top: 35px;
        padding-left: 230px;
        width: 505px;
    }
    &__sub-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $color-white;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        width: 450px;
    }
    &__input {
        width: 250px;
        height: 35px;
        background: #92B8F1;
        border-radius: 10px;
        padding: 8px 0 8px 15px;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 1.7rem;
        color: $color-black;
        border: none;
        outline: none;
    }
    &__btn {
        width: 150px;
        height: 35px;
        background: #3876D2;
        border-radius: 10px;
        border: none;
        outline: none;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $color-white;
        &:hover {
            cursor: pointer;
            background: $color-blue-light;
        }
        &:active {
            transform: scale(0.95);
        }
    }
}

.div_center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.audio-controls {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    z-index: 0;

    & .track-name {
        position: absolute;
        top: 23px;
        left: 63px;
    }

    & .audio-track {
        //width: 326px;
        width: 65px;
        border-radius: 35px;
        height: 63px;
        background-color: #dddddd;
        margin-left: -65px;
    }

    & .track-volume {
        position: absolute;
        top: 6px;
        right: 90px;
        & .volume {
            display: none;
        }
    }

    &:hover .volume {
        display: block;
    }

    & .time {
        position: absolute;
        top: 42px;
        right: 160px;
        width: 10px;
        height: 3px;
    }

    & .play {
        z-index: 2;
    }
    & .pause {
        padding: 0;
        z-index: 2;
        display: none;
    }
}