@import '_param';
*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-size: 10px;
}

.header {
    &__style {
        padding: 20px 0 0 35px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }
    &__logo {
        font-family: $font-logo;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.6rem;
        &_black {
            color: $color-black;
            &:hover {
                color: $color-blue;
                .header__logo_blue {
                    color: $color-black;
                }
            }
        }
        &_blue {
            color: $color-blue;
        }
        &-link {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__items {
        padding-right: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__item {
        padding: 0 10px;
    }
    &__menu {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $color-black;
        &-active {
            color: $color-blue;
        }
        &-link {
            color: $color-black;
            text-decoration: underline;
            &:hover {
                color: $color-blue;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    &__btn {
        height: 40px;
        width: 190px;
        border-radius: 10px;
        background-color: $color-blue;
        color: $color-white;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
        outline: none;
        border: 0px;
        // box-shadow: 2px 2px 2px 2px $color-icons;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
        }
    }
}

.invisible {
    display: none;
}

.modal {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    // background-color: $color-black;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    &__style {
        position: absolute;
        width: 400px;
        height: 500px;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: -6px 4px 10px 1px $color-disable;
        top: 65px;
        right: 40px;
        padding: 40px 40px 0 40px;
        z-index: 3;
    }
    &__title {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3.1rem;
        color: $color-black;
    }
    &__form {
        width: 100%;
        height: 290px;
        padding: 10px 0 75px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-remind {
            width: 100%;
            height: 190px;
            padding: 10px 0 280px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &-sign_up {
            width: 100%;
            height: 355px;
            padding: 10px 0 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &-restore {
            width: 100%;
            height: 355px;
            padding: 10px 0 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & .field-restore-email{
                display: none;
            }
        }
    }
    &__input {
        height: 40px;
        width: 320px;
        border-radius: 10px;
        outline: none;
        border: 1px solid $color-gray;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.9rem;
        color: $color-gray;
        padding: 10px 0 10px 15px;
    }
    &__sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 0 0;
    }
    &__btn {
        width: 150px;
        height: 50px;
        background: $color-blue;
        border-radius: 10px;
        color: $color-white;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 2.8rem;
        outline: none;
        border: 0px;
        &:hover {
            background-color: $color-blue-light;
        }
        &-sign {
            width: 200px;
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
        &-restore {
            width: 200px;
            font-size: 1.8rem;
            line-height: 2.3rem;
            margin: 0 auto;
        }
    }
    &__sign-text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: $color-black;
        &_link {
            text-decoration: underline;
            color: $color-black;
            &:hover {
                color: $color-blue;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    &__link {
        display: block;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        text-decoration-line: underline;
        color: $color-blue;
        &:hover {
            text-decoration: none;
            color: $color-blue-light;
            cursor: pointer;
        }
    }
    &__reg {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        padding: 13px 0 13px 0;
        text-align: center;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.3rem;
        &:hover {
            background-color: $color-disable;
        }
        &_white {
            border: 1px solid $color-blue;
            color: $color-black;
            background-color: $color-white;
        }
        &_blue {
            color: $color-white;
            background-color: $color-blue;
        }
    }
    &__close {
        width: 40px;
        height: 40px;
        background-color: $color-blue;
        position: absolute;
        top: 85px;
        right: 440px;
        z-index: 4;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        font-weight: 200;
        font-family: $font_main-text;
        // opacity: .8;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
            // color: $color-disable;
        }
    }
}

.input_error {
    border: 1px solid red;
}

.div_center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    &__style {
        width: 1000px;
        padding: 40px 0 0 0;
    }
    &__title {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 5rem;
        line-height: 6.3rem;
        color: $color-black;
        padding-bottom: 20px;
    }
    &__text {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 4.4rem;
        color: $color-black;
        padding-bottom: 30px;
    }
}

.about {
    padding: 50px 0 0 0;
    // .about__img
    &__img {}
    // .about__img-text
    &__img-text {}
}

.h2__title {
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5.7rem;
    color: $color-black;
}

.form-group {
    margin: 0 0 20px 0;
    position: relative;
    & .help-block-error {
        font-size: 12px;
        position: absolute;
        top: 55px;
        left: 0;
    }
}
.restore-block {
    margin: 50px 0;
    width: 320px;
    & label {
        width: 100%;
    }
}