@import '_param';
*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    outline: none;
    font-size: 10px;
}


:disabled {
    color: $color-disable2;
}

.logo-text {
    padding: 20px 10px 10px 15px;
    font-family: $font-logo;
    font-size: 35px;
    line-height: 1.25rem;
    &__color_black {
        color: black;
    }
    &__color_blue {
        color: $color-blue;
    }
    &__color_white {
        color: white;
    }
}

body {
    display: flex;
    flex-direction: column;
    //height: 100%;
}
.container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex: 1 0 auto;
}

.custom_light {
    width: 70px;
    height: 100%;
    padding: 35px 0 0 0;
    background-color: $color-menu;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.user_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.menu {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100%;
    &__list {
        margin: 0 0 0 0;
        padding: 50px 0 0 0;
    }
    &__items {
        list-style-type: none;
    }
    &__item {
        margin: 0 0 0 0;
        padding: 2px 0 2px 0;
        font-family: $font-logo;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $color-gray;
        text-decoration: none;
        &:hover {
            color: $color-blue;
            cursor: pointer;
            background-color: transparent !important;
        }
        &_select {
            color: $color-blue;
            &:hover {
                cursor: auto;
            }
        }
    }
}

.date {
    &__day {
        font-family: $font-logo;
        font-weight: 200;
        font-size: 50px;
        line-height: 50px;
        color: $color-blue;
    }
    &__month {
        font-family: $font-logo;
        font-weight: 200;
        font-size: 35px;
        // line-height: 54px;
        color: $color-black;
    }
    &__weekday {
        font-family: $font-logo;
        font-weight: 200;
        font-size: 20px;
        line-height: 10px;
        color: $color-black;
    }
}

.vshow {
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: $color-black;
}

.goals {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
}

.aims {
    padding: 0 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &__text {
        width: 600px;
        padding: 0 15px 0 0;
    }
    &__footnotes {
        padding: 0 0 0 10px;
        max-width: 150px;
        width: 100%;
    }
}

.text__list_item {
    width: $width-textarea;
    font-family: $font_main-text;
    font-weight: 300;
    font-size: 18px;
    line-height: $height-textarea;
    color: $color-black;
    word-wrap: break-word;
    margin: 0 0 2px 5px;


    &:hover .check_btn {
        display: block;
    }
}

.main__data {
    margin: 0 0 80px 0;
    padding: 35px 0 0 40px;
    min-width: 65%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    //flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all $anim_transition_tasks ease;

    &_title {
        font-family: $font_main-text;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: $color-blue;
    }
    &_line {
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 1px dashed $color-black;
        cursor: pointer;
        &:hover {
            transition: all $anim_transition_tasks ease;
            text-decoration: none;
            color: $color-blue;
        }
    }

}

.task__input_block {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;

}

.task__input {
    width: $width-textarea;
    margin: 0;
    padding: 0 8px 0 0;
    border-color: black;
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: $height-textarea;
    overflow: hidden !important;
    resize: none !important;
    transition: all $anim_transition_tasks ease;

    &:focus {
        color: $color-blue;
        border-bottom: 1px solid $color-blue-light2;
    }
}

.hide_input {
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    left: -9999px;
    & + label {
        width: fit-content;
    }
    //& + label::after {
    //  content: '+';
    //  position: absolute;
    //  right: 50px;
    //  top: 0px;
    //  color: #333;
    //}
    //& + label:hover::after {
    //    top: 0px;
    //    font-weight: 700;
    //}
    & + label {
        display: inline-block;
        cursor: pointer;
    }

    & ~ .text__list_items {
        transition: all $anim_transition_tasks ease;
        opacity: 1;
        padding: 10px 0 0 15px;
    }
    &:checked ~ .text__list_items {
        transition: all $anim_transition_tasks ease;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    //& ~ .text__list_items .text__list_item {
    //    transition: all $anim_transition_tasks ease;
    //    opacity: 1;
    //    min-height: $height2-textarea;
    //}
    //&:checked ~ .text__list_items .text__list_item {
    //    transition: all $anim_transition_tasks ease;
    //    opacity: 0;
    //    min-height: 0;
    //}

    //& ~.text__list_items .task__input_block {
    //    transition: all $anim_transition_tasks ease;
    //    opacity: 1;
    //    height: 0;
    //}
    //&:checked ~ .text__list_items .task__input_block {
    //    transition: all $anim_transition_tasks ease;
    //    opacity: 0;
    //    height: 0 !important;
    //}

    & ~ .text__list_items .task__input {
        transition: all $anim_transition_tasks ease;
        opacity: 1;
        height: $height2-textarea;
    }
    &:checked ~ .text__list_items .task__input {
        transition: all $anim_transition_tasks ease;
        opacity: 0;
        height: 0 !important;
    }




    // стиль label в свернутом состоянии
    &:checked + label {
        color: $color-blue2;
        border-bottom: 1px solid $color-black;
    }



}

.disabled_hidden {
    cursor: default;
    &:hover {
        cursor: default;
    }
}

.footnotes__text {
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    color: $color-black;
}

.footnotes__numbers {
    font-family: $font_main-text;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    &_color-red {
        color: $color-red;
    }
    &_color-green {
        color: $color-green;
    }
}

.text__strike {
    text-decoration: line-through;
    text-decoration-color: $color-gray;
    color: $color-gray;
}

.task__settings {
    background-color: $color-blue-light2;
    display: none;
    width: 300px;
    height: 130px;
    box-shadow: 2px 1px 5px;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 100;
    left: $width-textarea;
    top: 0;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 400;


    & select {
        border: none;
        border-bottom: 1px #609df8 solid;
        background-color: transparent;
        padding: 2px 0 2px 5px;
        margin: 0;
        height: 27px;

        //border: 1px solid #AAA;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        color: #555;
        font-size: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: inherit;
        width: 180px;
    }
    & label {
        height: 27px;
        line-height: 27px;
        margin: 0;
        font-size: inherit;
        font-weight: inherit;
        color: black;
    }
    & option {
        font-size: inherit;
        font-weight: inherit;
    }

    & .weekends_block,
    & .select_block {
        margin: 7px auto;
        width: 100%;
        font-size: inherit;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        & .label_block {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-end;
            width: 30%;
            font-size: inherit;
            margin: 0 10px 0 0;
            line-height: 27px;
        }

        & .repeated_by_id {
            //display: none;
        }
    }

    & .repeated {
        margin: 5px 0 0 0;
        width: 30px;
        height: 15px;
    }

    & span {
        font-size: inherit;
        color: black;
        font-weight: inherit;
    }
    & .weekends_block {
        height: 30px;
        align-items: center;
        transition: all $anim_transition_tasks ease;
        opacity: 1;
        visibility: visible;

        & .repeat_weekdays {
            width: 100%;
            font-size: inherit;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;

            & input {
                margin: 0 4px;
                width: 15px;
                height: 15px;

            }
        }
    }
}

.tasks-form {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tasks-all {
    width: 50%;
}

.text__list_empty {
    font-style: italic
}

.tasks__list {

    &_create {
        font-size: 12px;
        display: block;
        color: grey;
    }
}

.tasks_show_finished {
    display: block;
    cursor: pointer;
    margin: 5px 0 0 5px;
}

.task_transfer_btn {
    border: none;
    background-color: $color-icons;
    margin: 0 0 0 20px;
    border-radius: 7px;
    width: 34px;
    height: 29px;
    font-size: 23px;
    //box-shadow: 1px 1px 3px;;
 }

.disable_icon {
    background-color: $color-disable;
    color: $color-gray;
}

.task_transfer_btn:active {
    //box-shadow: 0 0 0;
    transform: scale(0.95);
}

.task_transfer_btn:disabled {
    color: $color-disable2;
}

.main_menu-selected a{
    color: $color-blue;
}

.footer {
    padding: 0;
    flex: 0 0 auto;
    & .container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        & p {
            margin: 5px 0;
        }
    }
}

.check_btn {
    cursor: default;
    display: none;
    position: absolute;
    border: none;
    background-color: $main_background_color;
    width: 25px;
    height: 20px;
    left: -26px;
    top: 0;
    font-size: 16px;
}

.saving_tasks {
    display: none;
    color: $color-gray;
    font-size: 10px;
    font-style: italic;
    margin: 0 20px 0 15px;
}

.profile_form label {
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    font-weight: 200;
}

.email_confirmation {
    position: fixed;
    display: block;
    width: 400px;
    z-index: 9999;
    box-shadow: -6px 4px 10px 1px #f7f5f7;
    background-color: whitesmoke;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
    padding: 10px;
    top: 20px;
    right: 50px;

    & h4 {
        color: $color-blue;
        width: 350px;
    }

    & p {
        font-size: 13px;
    }

    & .btn_conf_email,
    & .btn_ok {
        width: 160px;
        height: 32px;
        background-color: $color-blue;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 600;
        cursor: default;

        &:disabled {
            background-color: gray;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    & .btn_ok {
        width: 80px;
    }

    &_close {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        color: #373737;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        right: 4px;
        top: 4px;
        cursor: default;

        &:active {
            transform: scale(0.99);
            color: $color-blue;
        }
    }
}

#modal_confirm_curators_email {
    display: none;
}

.repeated-all {
  & .task__input {
    height: 20px;
  }
}

.next_repeat_date_row {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 13px;
    color: $color-blue-light;
    font-weight: 400;
    & span {
        font-size: 13px;
        margin: 0 10px;
    }
}

.repeated_title {
    display: inline-block;
}

.user_profile {
    width: 300px;
    & option {
        font-size: 13px;
    }
}

.user_profile-curator,
.user_profile-psw {
    border-top: 1px gray solid;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    position: relative;
}

.archive_title {
    margin: 20px 0 0 0;
    color: $color-blue;
    font-size: 16px;
}

.archive_date {
    display: inline-block;
    font-size: 16px;
}

#calendar_block {
    width: 250px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;

    & .message {
        font-size: 12px;
        margin: 20px 0 0 0;
        border-radius: 6px;
        border: 1px solid $color-blue;
        padding: 5px 5px 5px 20px;
        position: relative;
        text-align: center;

        &:before {
            content: '';
            position: absolute;
            background-image: url('../img/exclamation-mark.png');
            width: 8px;
            height: 34px;
            background-size: cover;
            top: 4px;
            left: 6px;
        }
    }
}

.cal {
    display: block;
    width: 216px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    & a {
        text-decoration: none;
    }
    & caption {
        display: block;
        line-height: 32px;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        text-shadow: 0 -1px #000000;
        background: $color-blue;
        border-top: 1px solid $color-blue-black;
        border-bottom: 1px solid $color-blue-black;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
        & a {
            display: block;
            line-height: 32px;
            padding: 0 45px;
            font-size: 15px;
            color: whitesmoke;
            cursor: default;
            &:hover {
                color: white;
            }
        }
        & .prev {
            float: left;
            margin: 0;
            cursor: pointer;
            padding: 0 19px;
            color: whitesmoke;
        }
        & .next {
            float: right;
            margin: 0;
            cursor: pointer;
            padding: 0 20px;
            color: whitesmoke;
        }
    }
    & th,
    & td {
        width: 30px;
        text-align: center;
        text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    }
    & th:first-child,
    & td:first-child {
        border-left: 0;
    }
    & th {
        line-height: 20px;
        font-size: 10px;
        color: #696969;
        text-transform: uppercase;
        background: #f3f3f3;
        border-left: 1px solid #f3f3f3;
    }
    & td {
        font-size: 11px;
        font-weight: bold;
        border-top: 1px solid #c2c2c2;
        border-left: 1px solid #c2c2c2;
        & a {
            clear: both;
            display: block;
            position: relative;
            width: 30px;
            line-height: 28px;
            color: #666;
            cursor: default;
            font-size: 12px;
            background-image: linear-gradient(to bottom, #eaeaea 0%, #e5e5e5 60%, #d9d9d9 100%);
            box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
        }
        &  a:hover,
        &.off a {
            background: #f3f3f3;
        }
        &.off a {
            color: #b3b3b3;
        }

        &.active a,
        & a:active {
            margin: 0;
            color: #f3f3f3;
            text-shadow: 0 1px rgba(0, 0, 0, 0.3);
            background: #B32800;
            border: 0px solid #598b94;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
        }

        &.active:first-child a,
        &:first-child a:active {
            border-left: 0;
            margin-left: 0;
        }

        &.active:last-child a,
        &:last-child a:active {
            border-right: 0;
            margin-right: 0;
        }

        & .active,
        & a:active {
            margin: 0;
            color: black;
            text-shadow: 0 1px rgba(0, 0, 0, 0.3);
            background: #F5C527;
            border: 0px solid #598b94;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
        }

    }
    & tr:last-child td.active a,
    & tr:last-child td a:active {
        border-bottom: 0;
        margin-bottom: 0;
    }
    tr {
        & .today a{
            background-color: $color-blue;
            background-image: none;
            color: whitesmoke;
            box-shadow: none;
            font-weight: 300;
            //border: 1px solid $color-blue-light;
        }
    }
}

.grade_text {
    font-size: 14px;
    color: $color-blue-light;
}

.grade_number {
    font-size: 16px;
    font-weight: 700;
    color: $color-blue-black;
}

.failure_icon {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url("../img/failure_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    right: -25px;
    top: 38px;
}

.success_icon {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url("../img/success_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    right: -25px;
    top: 38px;
}

.curators_emails {
    padding: px 12px;
    padding-right: 95px;
}

#curators_emails_btn_conf {
    width: 80px;
    height: 23px;
    background-color: #4C91F8;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 10px;
    line-height: 23px;
    font-weight: 600;
    cursor: default;
    position: absolute;
    right: 7px;
    top: 38px;
    &:active {
        transform: scale(0.97);
    }
}

.transition_none {
    transition: none;
}
.transition_all {
    transition: all $anim_transition_tasks ease;
}

.hidden_block {
    display: none !important;
}
.hidden_block_anim {
    opacity: 0 !important;
    visibility: none !important;
    height: 0 !important;
}
