@import '../../scss/_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
}

.left-menu {
    width: 260px;
    padding: 40px 0 0 30px;
}

.date {
    padding-bottom: 25px;
    &__text {
        font-family: $font_main-text;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.7rem;
        color: $color-black;
        text-transform: uppercase;
        &:first-of-type {
            padding-bottom: 10px;
        }
    }
    &__numb {
        color: $color-blue;
    }
}

.date-numb {
    display: flex;
    align-items: flex-end;
}

.number {
    font-family: $font_main-text;
    font-weight: 500;
    font-size: 5rem;
    line-height: 100%;
    color: $color-blue;
}

.month {
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    color: $color-black;
    text-transform: uppercase;
    padding: 0 0 3px 7px;
}

.line {
    width: 200px;
    height: 2px;
    background-color: $color-blue;
    border-radius: 10px;
}

.menu {
    padding-top: 25px;
    &__item {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 30px;
        color: $color-black;
    }
    &__item-link {
        display: block;
        color: $color-blue;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: $color-black;
        }
    }
}

.dop-menu {
    padding-top: 30px;
}

.main {
    // .main__style
    &__style {
        width: 100%;
        padding-left: 50px;
        padding-bottom: 50px;
    }
}

.top-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px 0 0;
    &__link {
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $color-blue;
        display: block;
        padding: 0 15px;
        &:hover {
            text-decoration: none;
            color: $color-black;
        }
    }
}

.notification {
    padding: 0 20px;
    position: relative;
    &::after {
        content: '2';
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $color-red;
        color: $color-white;
        font-family: $font_main-text;
        font-size: 1.1rem;
        top: -3px;
        right: 15px;
        position: absolute;
        text-align: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.bell {
    color: $color-blue;
    &:hover {
        color: $color-black;
    }
}

.user {
    // .user__img
    &__img {
        border-radius: 5px;
    }
}

.goals {
    width: 100%;
}

.title {
    font-family: $font_main-text;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: $color-blue-light;
    padding-top: 30px;
}

.show-end {
    padding-left: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-transform: lowercase;
}

.tasks {}

.today {}

.cases {
    // .cases__input
    &__input {}
}

.factor {
    // .factor__text
    &__text {}
    // .factor__numb
    &__numb {}
}

.tomorrow {}

.files {
    &__form {}
    &__input {
        width: 108px;
        height: 35px;
        background: $color-blue;
        border-radius: 10px;
    }
}

.field__wrapper {
    width: 500px;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.field__file-wrapper {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field__file-fake {
    height: 30px;
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid $color-blue;
    border-radius: 30px 0 0 30px;
    font-family: $font_main-text;
    font-size: 1.4rem;
    color: $color-gray;
}

.field__file-button {
    width: 100px;
    height: 30px;
    background: $color-blue;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: $font_main-text;
    line-height: 1.5rem;
    color: $color-white;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0 30px 30px 0;
    &:hover {
        cursor: pointer;
        background-color: $color-blue-light;
    }
}

.impress {
    &__text {
        width: 500px;
        height: 150px;
        border: 1px solid $color-blue-light;
        border-radius: 10px;
        outline: none;
        -moz-appearance: none;
        padding: 10px;
        resize: none;
        font-family: $font_main-text;
        font-size: 1.4rem;
    }
}

.day-rating {
    width: 400px;
    height: 100px;
    margin-bottom: 40px;
}

.estimation {
    padding: 10px 0 20px 0;
    text-transform: uppercase;
    &__items {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        font-family: $font_main-text;
        color: $color-blue;
        font-size: 1.6rem;
        font-weight: 400;
        border: 1px solid $color-blue;
        padding-left: 10px;
        text-transform: uppercase;
    }
    &__item {
        padding: 3px;
        font-family: $font_main-text;
        color: $color-blue;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.final__btn {
    width: 200px;
    height: 50px;
    background: $color-blue;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: $color-white;
    &:hover {
        cursor: pointer;
        background-color: $color-blue-light;
    }
}

.btn__shadow {
    box-shadow: 5px 5px 8px 1px $color-gray;
    &:active {
        box-shadow: -2px -2px 10px 1px $color-gray;
        padding: 0 2px 2px 0;
    }
}

.comments {
    width: 700px;
    padding: 30px 0 30px 0;
    &__title {
        font-family: $font_main-text;
        color: $color-black;
        font-size: 2.5rem;
        line-height: 2.7rem;
        font-weight: 400;
        padding-bottom: 30px;
    }
    &__item {}
    &__disagree {
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }
    &__link {
        width: 100%;
        margin: 0 auto;
        font-family: $font_main-text;
        font-size: 2rem;
        line-height: 2rem;
        padding-bottom: 3px;
        text-align: center;
    }
    &__line-blue {
        border-bottom: 1px dashed $color-blue;
        color: $color-blue;
        &:hover {
            cursor: pointer;
            color: $color-black;
            border-bottom: none;
        }
    }
    &__line {
        border-bottom: none;
        color: $color-black;
    }
}

.curator {
    display: flex;
    &__bio {}
    &__img {
        border-radius: 50%;
    }
    &__name {
        width: 180px;
        font-family: $font_main-text;
        color: $color-blue;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 400;
        font-style: italic;
    }
    &__comment {
        width: 100%;
        background-color: $color-blue-light2;
        font-family: $font_main-text;
        font-weight: 400;
        font-size: 1.8rem;
        color: $color-black;
        padding: 20px;
        border-radius: 20px;
        font-style: italic;
    }
}

.disagree {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    &__text {
        width: 500px;
        min-height: 150px;
        border-radius: 20px;
        outline: none;
        border: 1px solid $color-blue;
        padding: 20px;
        font-family: $font_main-text;
        font-size: 1.6rem;
        color: $color-black;
        resize: none;
    }
    &__button {
        padding: 30px 0 40px 0;
    }
    &__btn {
        width: 200px;
        height: 60px;
        border-radius: 10px;
        font-family: $font_main-text;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-blue;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: $color-blue-light;
        }
    }
}

.invisible_block {
    display: none;
    transition: 1s;
}

.my__comment {
    width: 400px;
    background-color: $color-blue-black;
    font-family: $font_main-text;
    font-weight: 400;
    font-size: 1.8rem;
    color: $color-white;
    padding: 20px;
    border-radius: 20px;
    font-style: italic;
    margin: 0 auto;
}