@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,200&family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap");
/*font-family: 'Caveat',
cursive;
font-family: 'Fira Sans',
sans-serif;
font-family: 'Scada',
sans-serif;*/
html {
  overflow-y: scroll;
}

*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  outline: none;
  font-size: 10px;
}

header {
  flex: 1 0 auto;
}

:disabled {
  color: grey;
}

.offline {
  color: grey !important;
}

.logo-text {
  padding: 20px 10px 10px 15px;
  font-family: "Barlow", sans-serif;
  font-size: 35px;
  line-height: 1.25rem;
}
.logo-text__color_black {
  color: black;
}
.logo-text__color_blue {
  color: #4C91F8;
}
.logo-text__color_white {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=radio],
input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9 ;
  line-height: normal;
}

input[type=radio][disabled],
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=checkbox].disabled,
fieldset[disabled] input[type=radio],
fieldset[disabled] input[type=checkbox] {
  cursor: not-allowed;
}

input[type=file] {
  display: block;
}

input[type=range] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.container {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  flex-wrap: wrap;
}

.custom_light {
  width: 70px;
  height: 100%;
  padding: 35px 0 0 0;
  background-color: #3876D2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.left-menu {
  position: relative;
  margin: -20px 0 0 0;
  width: 260px;
  padding: 0 0 0 30px;
}
.left-menu .sticky {
  position: fixed;
  top: 40px;
}

.menu {
  padding-top: 25px;
}
.menu__list {
  margin: 0 0 0 0;
  padding: 50px 0 0 0;
}
.menu__items {
  list-style-type: none;
}
.menu__item {
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  color: #4C91F8;
  text-decoration: underline;
}
.menu__item:hover {
  text-decoration: none;
  color: #000;
  background-color: transparent !important;
}
.menu__item_selected a {
  color: #000;
  text-decoration: none;
}
.menu__item_selected a:hover {
  cursor: auto;
}
.menu__link_sett {
  padding: 0 0 0 20px !important;
}

.dop-menu {
  padding-top: 30px;
}
.dop-menu .settings__items {
  transition: all 0.25s ease;
}
.dop-menu .settings__items .menu__set {
  transition: all 0.25s ease;
  height: 30px;
  font-size: 8px;
}
.dop-menu .d-none {
  display: none;
}
.dop-menu .invisible {
  transition: all 0.25s ease;
  opacity: 0;
  top: 15px;
}
.dop-menu .invisible .menu__set {
  height: 5px;
  font-size: 8px;
}

.top-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px 0 0;
  position: fixed;
  z-index: 100;
}
.top-menu__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4C91F8;
  display: block;
  padding: 0 15px;
  text-decoration: underline;
}
.top-menu__link:hover {
  text-decoration: none;
  color: #000;
}
.top-menu .user__img {
  border-radius: 20px;
}
.top-menu #info-bell {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ff0000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 16px;
  top: -3px;
  right: 15px;
  position: absolute;
  text-align: center;
}

.notification {
  padding: 0 20px;
  position: relative;
}
.notification:hover {
  cursor: pointer;
}
.notification__link {
  text-decoration: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.notification__link:hover {
  text-decoration: none;
}
.notification__elem {
  padding: 15px;
  border-bottom: 1px solid grey;
  color: #609df8;
  text-decoration: none;
}
.notification__elem:hover {
  background-color: #f8f8f8;
}
.notification__elem .title {
  width: 100%;
  color: inherit;
  font-size: 16px;
  text-decoration: inherit;
  margin: 0 0 5px 0;
}
.notification__elem .user__bio {
  width: 150px;
  margin: 0 5px 0 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.notification__elem .user__name {
  color: inherit;
  font-size: 14px;
  text-decoration: inherit;
}
.notification__elem .user__bio-ava {
  width: 40px;
  margin: 0 10px 0 0;
}
.notification__elem .user__img {
  width: 40px;
}
.notification__elem .content {
  color: inherit;
  font-size: 14px;
  text-decoration: inherit;
}
.notification__elem .date {
  width: 100%;
  color: grey;
  font-size: 11px;
  text-decoration: inherit;
  padding: 0;
  margin: 5px 0 0 0;
}
.notification__block {
  max-height: 550px;
  position: absolute;
  width: 400px;
  height: auto;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 5px 5px 8px 1px #b1b1b1;
  top: 35px;
  opacity: 1;
  right: -10px;
  transition: all 0.25s ease;
  overflow-y: scroll;
}
.notification__block::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  background-color: #c2ddff;
}
.notification__block::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
.notification__block::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
.notification .d-none {
  display: none;
}
.notification .invisible {
  transition: all 0.25s ease;
  opacity: 0;
  top: 15px;
}

.user_menu {
  padding: 0 20px;
  position: relative;
}
.user_menu:hover {
  cursor: pointer;
}
.user_menu a {
  text-align: right;
  font-size: 15px;
}
.user_menu button {
  text-align: right;
  font-size: 15px;
  margin: 0;
  padding: 10px 15px !important;
  line-height: inherit !important;
}
.user_menu button:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.user_menu__block {
  width: 230px;
  max-height: 550px;
  position: absolute;
  height: auto;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 5px 5px 8px 1px #b1b1b1;
  top: 45px;
  opacity: 1;
  right: -10px;
  transition: all 0.25s ease;
  z-index: 99;
}
.user_menu__option {
  background-color: white;
  border: 1px solid grey;
  top: 45px;
  opacity: 1;
  right: -10px;
  z-index: 99;
}
.user_menu .d-none {
  display: none;
}
.user_menu .invisible {
  transition: all 0.25s ease;
  opacity: 0;
  top: 15px;
}

.bell {
  color: #4C91F8;
}
.bell:hover {
  color: #000;
}

.date {
  padding-bottom: 25px;
}
.date-numb {
  display: flex;
  align-items: flex-end;
}
.date-numb .number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  line-height: 100%;
  color: #4C91F8;
}
.date-numb .month {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  color: #000;
  text-transform: uppercase;
  padding: 0 0 3px 7px;
}
.date__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #000;
  text-transform: uppercase;
}
.date__text:first-of-type {
  padding-bottom: 10px;
}
.date__numb {
  color: #4C91F8;
  font-size: inherit;
}
.date__day {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 50px;
  color: #4C91F8;
}
.date__month {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: #000;
}
.date__weekday {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 10px;
  color: #000;
}

.line {
  width: 200px;
  height: 2px;
  background-color: #4C91F8;
  border-radius: 10px;
}

.vshow {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000;
}

.goals {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
}

.aims {
  padding: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.aims__text {
  width: 600px;
  padding: 0 15px 0 0;
}
.aims__footnotes {
  padding: 0 0 0 10px;
  max-width: 150px;
  width: 100%;
}

.text__list_item {
  width: 450px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  color: #000;
  word-wrap: break-word;
  margin: 0 0 2px 5px;
}
.text__list_item:hover .check_btn {
  display: block;
}

.delete_btn {
  display: none;
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: transparent;
  color: #e51a36;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  right: -8px;
  top: -12px;
}
.delete_btn:hover {
  color: #ff0023;
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: transparent;
  box-shadow: none;
}
.delete_btn:active {
  color: #e51a36;
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: transparent;
  box-shadow: none;
}

.main__data {
  margin: 40px 0 80px 0;
  padding: 0 0 0 20px;
  min-width: 65%;
  max-width: 70%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.5s ease;
}
.main__data_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #609df8;
  padding-top: 30px;
}
.main__data_line {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px dashed #000;
  cursor: pointer;
}
.main__data_line:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #4C91F8;
}

.policy {
  margin: 10px 80px;
  padding: 20px 0 40px 40px;
}

.main__style {
  font-size: 18px;
}

.main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__img {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.main__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  text-transform: uppercase;
}

.main__text {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  padding-right: 60px;
}

.main__subtitle {
  padding: 15px 0 0 0;
  font-weight: 600;
  font-size: inherit;
}

.main__paragraph {
  padding-bottom: 25px;
  font-size: inherit;
}

.task__input_block {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

.task__input {
  width: 450px;
  margin: 0;
  padding: 0 20px 0 0;
  border-color: black;
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 17px;
  overflow: hidden !important;
  resize: none !important;
  transition: all 0.5s ease;
}

.focus_task__input {
  color: #4C91F8;
  border-bottom: 1px solid #609df8;
}

.hide_input {
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  left: -9999px;
}
.hide_input + label {
  width: fit-content;
}
.hide_input + label {
  display: inline-block;
  cursor: pointer;
}
.hide_input ~ .text__list_items {
  transition: all 0.5s ease;
  opacity: 1;
  padding: 10px 0 0 15px;
}
.hide_input:checked ~ .text__list_items {
  transition: all 0.5s ease;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.hide_input ~ .text__list_items .task__input {
  transition: all 0.5s ease;
  opacity: 1;
  height: 20px;
}
.hide_input:checked ~ .text__list_items .task__input {
  transition: all 0.5s ease;
  opacity: 0;
  height: 0 !important;
}
.hide_input:checked + label {
  color: #00a3c6;
  border-bottom: 1px solid #000;
}

.disabled_hidden {
  cursor: default;
}
.disabled_hidden:hover {
  cursor: default;
}

.footnotes__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #000;
}

.footnotes__numbers {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
}
.footnotes__numbers_color-red {
  color: #ff0000;
}
.footnotes__numbers_color-green {
  color: #00ff95;
}

.text__strike {
  text-decoration: line-through;
  text-decoration-color: #b1b1b1;
  color: #b1b1b1;
}

.task__settings {
  background-color: #ffffff;
  display: none;
  width: 310px;
  box-shadow: none;
  border: 1px solid #609df8;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 100;
  left: 450px;
  top: 0;
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 400;
}
.task__settings .task__settings_params {
  font-weight: 400;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
}
.task__settings .task__settings_delete {
  display: none;
  padding: 10px;
  top: -40px;
}
.task__settings .task__settings_delete p {
  color: #609df8;
  font-size: 16px;
  text-align: center;
  margin: 0 0 15px 0;
}
.task__settings .task__settings_delete .task_del_btns_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.task__settings .task__settings_delete .btn_confirm {
  width: 100px;
}
.task__settings .task__settings_delete .btn_cancel {
  width: 100px;
  background-color: lightgrey;
}
.task__settings .task__settings_delete .btn_cancel:hover {
  background-color: #b3b3b3;
}
.task__settings .task__settings_delete .btn_cancel:active {
  background-color: lightgrey;
}
.task__settings .repeated_date, .task__settings select {
  border: none;
  border-bottom: 1px #609df8 solid;
  background-color: transparent;
  margin: 0;
  height: 27px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #609df8;
  font-size: inherit;
  overflow: hidden;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  width: 165px;
  text-align-last: end;
  padding: 0 10px 0 0px;
}
.task__settings label {
  height: 27px;
  line-height: 27px;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: #609df8;
}
.task__settings option {
  font-size: inherit;
  font-weight: inherit;
}
.task__settings .dates_block, .task__settings .weekends_block, .task__settings .select_block {
  margin: 7px auto;
  width: 100%;
  font-size: inherit;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
}
.task__settings .dates_block .label_block, .task__settings .weekends_block .label_block, .task__settings .select_block .label_block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  font-size: inherit;
  margin: 0 0 0 10px;
  line-height: 27px;
}
.task__settings .dates_block {
  text-align-last: end;
  height: 30px;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.task__settings .dates_block input[type=text]::before {
  content: ">";
  transform: rotate(90deg);
}
.task__settings .repeated {
  margin: 5px 0 0 0;
  width: 30px;
  height: 15px;
}
.task__settings span {
  font-size: inherit;
  color: black;
  font-weight: inherit;
}
.task__settings .weekends_block {
  height: 30px;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.task__settings .weekends_block .repeat_weekdays {
  width: 100%;
  font-size: inherit;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.task__settings .weekends_block .repeat_weekdays input {
  margin: 0 4px;
  width: 15px;
  height: 15px;
  color: #609df8;
}
.task__settings .weekends_block .repeat_weekdays span {
  color: #609df8;
}

.tasks-form {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.report_data {
  position: relative;
}
.report_data section .title {
  font-size: 2em;
}

.files__input {
  width: 108px;
  height: 35px;
  background: #4C91F8;
  border-radius: 10px;
}
.files .input_file {
  position: relative;
}
.files .input_img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 0 5px;
}
.files .delete_file {
  font-size: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: -5px;
  transform: rotate(45deg);
}
.files label {
  position: relative;
}

#report_data .error_alert {
  margin: 5px;
  font-size: 16px;
  color: red;
}

.drag_drop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.9);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: whitesmoke;
}

.field__wrapper {
  width: 500px;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
.field__wrapper .error_alert {
  color: red;
  font-size: 16px;
}

.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.field__file:disabled {
  border-color: grey;
  color: grey;
}

.field__file-wrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field__file-fake {
  min-height: 30px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #4C91F8;
  border-radius: 30px 0 0 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #b1b1b1;
}

.field__file-button {
  width: 100px;
  background: #4C91F8;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 30px 30px 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.field__file-button:hover {
  cursor: pointer;
  background-color: #609df8;
}

.impress__text {
  width: 500px;
  min-height: 70px;
  border: 1px solid #609df8;
  border-radius: 10px;
  outline: none;
  -moz-appearance: none;
  padding: 10px;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.impress__text:disabled {
  border-color: grey;
  color: grey;
}

.day-rating {
  width: 400px;
  height: 100px;
  margin-bottom: 40px;
}

.estimation {
  padding: 10px 0 20px 0;
  text-transform: uppercase;
}
.estimation__items {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: #4C91F8;
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #4C91F8;
  padding-left: 10px;
  text-transform: uppercase;
}
.estimation__items:disabled {
  border-color: grey;
  color: grey;
}
.estimation__item {
  padding: 3px;
  font-family: "Roboto", sans-serif;
  color: #4C91F8;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.final__btn {
  width: 200px;
  height: 50px;
  background: #4C91F8;
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
}
.final__btn:hover {
  cursor: pointer;
  background-color: #609df8;
}
.final__btn:disabled {
  cursor: default;
  background-color: grey;
  box-shadow: none;
}

.btn__shadow {
  box-shadow: 5px 5px 8px 1px #b1b1b1;
}
.btn__shadow:active {
  box-shadow: 3px 3px 10px 1px #b1b1b1;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 16px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #c2ddff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: inset 1px 1px 5px #c2ddff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, whitesmoke 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #c2ddff;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, whitesmoke 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #c2ddff;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, whitesmoke 30%, rgba(0, 0, 0, 0) 31%);
  background-color: white;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, whitesmoke 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, whitesmoke 30%, rgba(0, 0, 0, 0) 31%);
  background-color: white;
}

.comments {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 750px;
  padding: 0;
  margin: 0;
}
.comments .comments__img-miniatures {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.comments .comments__img-miniatures .input_file {
  display: inline-block;
  position: relative;
}
.comments .comments__img-miniatures .input_file .delete_file {
  font-size: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: -5px;
  transform: rotate(45deg);
}
.comments .comments__img-miniatures .input_img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.comments .answer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.comments .answer .error_alert {
  margin: 0 0 0 10px;
  align-self: center;
  padding: 6px;
  color: red;
  font-size: 14px;
}
.comments__img-wrapper {
  margin: 0 0 0 10px;
  z-index: 999;
  width: 35px;
  height: 35px;
  align-self: center;
  padding: 6px;
  cursor: pointer;
}
.comments__img-button {
  width: 100%;
  cursor: inherit;
}
.comments__block {
  width: 100%;
  min-height: 80px;
  max-height: 350px;
  overflow: auto;
  border: 1px solid #4C91F8;
  border-radius: 10px;
  margin: 0 0 50px 0;
  padding: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 0;
}
.comments__title {
  width: 100%;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2.5rem;
  line-height: 2.7rem;
  font-weight: 400;
}
.comments__item {
  margin: 10px;
  z-index: -1;
}
.comments__disagree {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
.comments__link {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 3px;
  text-align: center;
}
.comments__line-blue {
  border-bottom: 1px dashed #4C91F8;
  color: #4C91F8;
}
.comments__line-blue:hover {
  cursor: pointer;
  color: #000;
  border-bottom: none;
}
.comments__line {
  border-bottom: none;
  color: #000;
}
.comments__no {
  margin: 20px;
  font-size: 16px;
  font-style: italic;
}
.comments .user {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.comments .user__img {
  border-radius: 50%;
  object-fit: cover;
}
.comments .user__name {
  width: max-content;
  font-family: "Roboto", sans-serif;
  color: #4C91F8;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: italic;
  margin: 5px 0 0 0;
}
.comments .user__bio {
  order: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 30px 0 0;
}
.comments .user__comment {
  order: 2;
  max-width: 70%;
  background-color: #c2ddff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  padding: 20px;
  border-radius: 20px;
  font-style: italic;
  margin: 0 50px 0 0;
  position: relative;
  text-align: start;
}
.comments .user__comment:before {
  content: "";
  transform: rotate(45deg);
  background-color: #c2ddff;
  position: absolute;
  top: 20px;
  left: -7px;
  width: 20px;
  height: 20px;
}
.comments .user__comment .date {
  font-size: 9px;
  margin: 0;
  padding: 0;
}
.comments .user .input_img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 5px;
}
.comments .self_user {
  justify-content: flex-end;
}
.comments .self_user .user__bio {
  display: none;
  order: 2;
  align-items: flex-end;
}
.comments .self_user .user__bio .user__name {
  text-align: right;
}
.comments .self_user .user__comment {
  order: 1;
  margin: 0 0 0 100px;
  text-align: end;
}
.comments .self_user .user__comment:before {
  display: none;
}
.comments .self_user .user__comment:after {
  content: "";
  transform: rotate(45deg);
  background-color: #c2ddff;
  position: absolute;
  top: 20px;
  right: -7px;
  width: 20px;
  height: 20px;
}

.disagree {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.disagree__text {
  width: 100%;
  min-height: 50px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #4C91F8;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #000;
  resize: none;
}
.disagree__button {
  width: 210px;
  padding: 30px 0 30px 0;
}
.disagree__btn {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #4C91F8;
  border: none;
  outline: none;
}
.disagree__btn:hover {
  cursor: pointer;
  background-color: #609df8;
}

.invisible_block {
  display: none;
  transition: 1s;
}

.disabled {
  border: 1px solid grey;
  color: grey;
  background-color: inherit;
}

.disabled_text {
  color: grey !important;
}

section .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #609df8;
  padding-top: 30px;
}
section .show-end {
  padding-left: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-transform: lowercase;
}

.my__comment {
  width: 400px;
  background-color: #30458a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  font-style: italic;
  margin: 0 auto;
}

.tasks-all {
  width: 50%;
}

.text__list_empty {
  font-style: italic;
}

.tasks__list_create {
  font-size: 12px;
  display: block;
  color: grey;
}

.tasks_show_finished {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #609df8;
  padding-left: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-transform: lowercase;
}

.task_transfer_btn {
  border: none;
  background-color: rgb(136, 201, 255);
  margin: 0 0 0 20px;
  border-radius: 7px;
  width: 34px;
  height: 29px;
  font-size: 23px;
}

.disable_icon {
  background-color: rgb(247, 245, 247);
  color: #b1b1b1;
}

.task_transfer_btn:active {
  transform: scale(0.95);
}

.task_transfer_btn:disabled {
  color: grey;
}

.footer {
  padding: 0;
  flex: 0 0 auto;
}
.footer__style {
  width: 100%;
  min-height: 300px;
  background-color: #032251;
  padding: 60px 0 0 60px;
  display: flex;
  justify-content: flex-start;
  background-image: url(../img/rhino-footer-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  flex: 0 0 auto;
}
.footer__logo-text-1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  padding-left: 8px;
}
.footer__logo-text-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.65rem;
  line-height: 1.65rem;
  color: #fff;
  padding-left: 8px;
}
.footer__logo-text-3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #fff;
  padding-left: 8px;
}
.footer__logo-text-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1rem;
  color: #fff;
  padding-left: 10px;
}
.footer__soc {
  padding-top: 35px;
  padding-left: 230px;
}
.footer__soc-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}
.footer__soc-text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #b1b1b1;
  text-decoration: underline;
}
.footer__soc-text:hover {
  color: #fff;
  text-decoration: none;
}
.footer__sub {
  padding-top: 35px;
  padding-left: 230px;
  width: 505px;
}
.footer__sub-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer__form {
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.footer__input {
  width: 250px;
  height: 35px;
  background: #92B8F1;
  border-radius: 10px;
  padding: 8px 0 8px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #000;
  border: none;
  outline: none;
}
.footer__btn {
  width: 150px;
  height: 35px;
  background: #3876D2;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}
.footer__btn:hover {
  cursor: pointer;
  background: #609df8;
}
.footer__btn:active {
  transform: scale(0.95);
}

.check_btn {
  cursor: default;
  display: none;
  position: absolute;
  border: none;
  background-color: #ffffff;
  width: 25px;
  height: 20px;
  left: -39px;
  top: -9px;
  font-size: 16px;
  box-shadow: none;
  color: darkgray;
}
.check_btn:active {
  box-shadow: none;
}

.saving_tasks {
  display: none;
  color: #b1b1b1;
  font-size: 10px;
  font-style: italic;
  margin: 0 20px 0 15px;
}

.profile_form label {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 200;
}

.email_confirmation {
  position: fixed;
  display: block;
  width: 400px;
  z-index: 9999;
  box-shadow: -6px 4px 10px 1px #f7f5f7;
  background-color: whitesmoke;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  justify-content: center;
  padding: 10px;
  top: 20px;
  right: 50px;
}
.email_confirmation h4 {
  font-size: 18px;
  margin: 0 0px 10px 0;
  color: #4C91F8;
  width: 350px;
}
.email_confirmation p {
  font-size: 16px;
}
.email_confirmation .btn_conf_email, .email_confirmation .btn_ok {
  width: 160px;
  height: 32px;
  background-color: #4C91F8;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: default;
  margin: 20px 0 0 0;
}
.email_confirmation .btn_conf_email:disabled, .email_confirmation .btn_ok:disabled {
  background-color: gray;
}
.email_confirmation .btn_conf_email:active, .email_confirmation .btn_ok:active {
  transform: scale(0.98);
}
.email_confirmation .btn_ok {
  width: 80px;
}
.email_confirmation_close {
  position: absolute;
  right: 4px;
  top: -17px;
  width: 32px;
  font-size: 40px;
  opacity: 0.7;
  background-color: transparent;
  color: #373737;
  border: none;
  box-shadow: none;
  transform: rotate(45deg);
}
.email_confirmation_close:active {
  transform: scale(0.99);
  transform: rotate(45deg);
  color: #4C91F8;
  box-shadow: none;
}
.email_confirmation_close:hover {
  opacity: 1;
}

#modal_confirm_curators_email {
  display: none;
}

.repeated-all .task__input {
  height: 20px;
}

.next_repeat_date_row {
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 13px;
  color: #609df8;
  font-weight: 400;
}
.next_repeat_date_row span {
  font-size: 13px;
  margin: 0 10px;
}

.repeated_title {
  display: inline-block;
  margin: 0 0 10px 0;
}

.user_profile {
  width: 300px;
}
.user_profile option {
  font-size: 13px;
}

.user_profile-curator {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  position: relative;
}

.user_profile-psw {
  border-top: 1px gray solid;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  position: relative;
}

.archive_title {
  margin: 20px 0 0 0;
  color: #4C91F8;
  font-size: 16px;
}

.archive_date {
  display: inline-block;
  font-size: 16px;
}

#calendar_block {
  position: fixed;
  top: 100px;
  right: 40px;
  width: 250px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
#calendar_block .calend_title {
  font-size: 14px;
  width: 216px;
  text-align: center;
  margin: 0 0 5px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#calendar_block .message {
  width: 87%;
  font-size: 12px;
  margin: 20px 0 0 0;
  border-radius: 6px;
  border: 1px solid #4C91F8;
  padding: 5px 5px 5px 20px;
  position: relative;
  text-align: center;
}
#calendar_block .message:before {
  content: "";
  position: absolute;
  background-image: url("../img/exclamation-mark.png");
  width: 8px;
  height: 34px;
  background-size: cover;
  top: 4px;
  left: 6px;
}

.cal {
  display: block;
  width: 216px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.cal .report_rejected {
  color: black !important;
  background-image: linear-gradient(to bottom, #ff7663 0%, #e51600 60%, #7e0010 100%) !important;
}
.cal .report_checked {
  color: black !important;
  background-image: linear-gradient(to bottom, #b7eab0 0%, #7ee560 60%, #2d7b2b 100%) !important;
}
.cal .report_waiting {
  color: black !important;
  background-image: linear-gradient(to bottom, #9ec0e2 0%, #7ea0e5 60%, #718ede 100%) !important;
}
.cal .tasks_exist {
  color: black !important;
  background-image: linear-gradient(to bottom, #ffffff 0%, #cfd4ff 60%, #c7d1ff 100%) !important;
}
.cal a {
  text-decoration: none;
}
.cal caption {
  display: block;
  line-height: 32px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  background: #4C91F8;
  border-top: 1px solid #30458a;
  border-bottom: 1px solid #30458a;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}
.cal caption a {
  display: block;
  line-height: 32px;
  padding: 0 45px;
  font-size: 15px;
  color: whitesmoke;
  cursor: default;
}
.cal caption a:hover {
  color: white;
}
.cal caption .prev {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0 19px;
  color: whitesmoke;
}
.cal caption .next {
  float: right;
  margin: 0;
  cursor: pointer;
  padding: 0 20px;
  color: whitesmoke;
}
.cal th, .cal td {
  width: 30px;
  text-align: center;
}
.cal th:first-child, .cal td:first-child {
  border-left: 0;
}
.cal th {
  line-height: 20px;
  font-size: 10px;
  color: #696969;
  text-transform: uppercase;
  background: #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
.cal td {
  font-size: 11px;
  font-weight: bold;
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
}
.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #666;
  cursor: default;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #eaeaea 0%, #e5e5e5 60%, #d9d9d9 100%);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
.cal td a:hover, .cal td.off a {
  background: #f3f3f3;
}
.cal td.off a {
  color: #b3b3b3;
}
.cal td.active a, .cal td a:active {
  margin: 0;
  color: #f3f3f3;
  background: #B32800;
  border: 0px solid #598b94;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.cal td.active:first-child a, .cal td:first-child a:active {
  border-left: 0;
  margin-left: 0;
}
.cal td.active:last-child a, .cal td:last-child a:active {
  border-right: 0;
  margin-right: 0;
}
.cal td .active, .cal td a:active {
  margin: 0;
  color: black !important;
  background: #F5C527 !important;
  border: 0px solid #598b94;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.cal tr:last-child td.active a, .cal tr:last-child td a:active {
  border-bottom: 0;
  margin-bottom: 0;
}
.cal tr .today a {
  background-color: #4C91F8;
  background-image: none;
  color: whitesmoke;
  box-shadow: none;
  font-weight: 300;
}

.grade_text {
  font-size: 14px;
  color: #609df8;
}

.grade_number {
  font-size: 16px;
  font-weight: 700;
  color: #30458a;
}

.failure_icon {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  background-image: url("../img/failure_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -25px;
  top: 31px;
}

.success_icon {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  background-image: url("../img/success_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -25px;
  top: 31px;
}

.curators_emails {
  padding: px 12px;
  padding-right: 95px;
}

#curators_emails_btn_conf {
  width: 80px;
  height: 25px;
  background-color: #4C91F8;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  cursor: default;
  position: absolute;
  right: 7px;
  top: 25px;
}
#curators_emails_btn_conf:active {
  transform: scale(0.97);
}

.transition_none {
  transition: none;
}

.transition_all {
  transition: all 0.5s ease;
}

.hidden_block {
  display: none !important;
}

.hidden_block_anim {
  opacity: 0 !important;
  visibility: none !important;
  height: 0 !important;
  margin: 0 !important;
}

.b-show {
  display: block;
  animation: showBlock 0.1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.error_block {
  width: 90%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error_block .error_desc {
  width: 500px;
}
.error_block .error_text {
  text-align: center;
  font-size: 25px;
}
.error_block .error_title {
  font-size: 28px;
  text-align: center;
}
.error_block .error_alert {
  font-size: 22px;
  text-align: center;
}
.error_block p {
  font-size: 15px;
}

.message_title {
  font-size: 23px;
  width: 100%;
  text-align: center;
  color: #30458a;
}

button {
  font-size: 17px;
  min-width: 32px;
  padding: 5px;
  margin: 5px;
  background-color: #609df8;
  border-radius: 5px;
  color: whitesmoke;
  border: none;
}
button:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 8px 1px #b1b1b1;
}

.check {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.check-content {
  width: min-content;
  max-width: 500px;
  padding: 10px 10px 10px 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid #4C91F8;
  border-radius: 10px;
}
.check-user_data {
  width: 100%;
}
.check-user_data h3 {
  font-size: 15px;
}
.check-user_data td {
  font-size: 13px;
}
.check-user_data-options {
  font-weight: 700;
}
.check-user_data-data {
  padding: 0 0 0 10px;
}
.check-title {
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  color: #4C91F8;
  margin: 20px 0;
}
.check-title .count_reports {
  font-size: inherit;
  text-transform: lowercase;
}
.check-grade_btn {
  border-radius: 16px;
}
.check-buttons {
  width: 100%;
  margin: 10px 0;
}
.check-grades {
  width: 100%;
  margin: 20px 0 10px 0;
}
.check-grades p {
  font-size: 17px;
  padding: 0 0 5px 0;
}
.check-grades input {
  display: none;
}
.check-grades label {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  min-width: 32px;
  height: 32px;
  padding: 5px 11px;
  margin: 5px;
  background-color: #609df8;
  border-radius: 16px;
  color: whitesmoke;
  box-shadow: 3px 3px 8px 1px #b1b1b1;
}
.check-grades input:checked + label {
  background-color: #4C91F8;
}
.check_uploaded_files {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.check_uploaded_files .input_img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.check_report_data {
  width: 100%;
  font-size: 15px;
  display: block;
}
.check #reject_report {
  background-color: #bf1700;
}
.check .report_success {
  width: 100%;
  color: green;
  font-size: 20px;
  margin: 10px;
}

.archive {
  width: 72%;
  display: flex;
  justify-content: space-between;
}
.archive__block {
  width: 100%;
}
.archive__header {
  width: 550px;
  background-color: #609df8;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  height: 50px;
  align-items: center;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border: 1px solid #609df8;
}
.archive__numb {
  font-size: inherit;
  padding-left: 10px;
  width: 60px;
}
.archive__date {
  font-size: inherit;
  width: 140px;
}
.archive__status {
  font-size: inherit;
  width: 180px;
}
.archive__done {
  font-size: inherit;
}
.archive__done-data {
  text-align: center;
  width: 140px;
}
.archive__data {
  border: 1px solid #4C91F8;
  border-top: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  display: flex;
  height: 30px;
  align-items: center;
  text-align: center;
}
.archive__data:last-of-type {
  border-radius: 0 0 10px 10px;
}
.archive__data:hover {
  background-color: #c2ddff;
}
.archive__numb-data {
  width: 50px;
}
.archive__date-data {
  width: 150px;
}
.archive__date-data a {
  font-size: inherit;
}
.archive__input {
  width: 100%;
}

.no_data {
  font-size: 14px;
  font-style: italic;
}

.welcome {
  width: 100%;
  margin: 0 0 5px 0;
}
.welcome__title {
  font-size: 22px;
  color: #4C91F8;
}

.welcome__title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 95%;
  color: #4C91F8;
  padding-bottom: 10px;
}
.welcome__chapter {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  color: #000;
  padding-top: 25px;
}
.welcome__text {
  width: 700px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #000;
  padding-bottom: 10px;
}
.welcome__link {
  color: #4C91F8;
}
.welcome__link:hover {
  text-decoration: none;
  color: #000;
}
.welcome a {
  font-size: inherit;
}
.welcome strong {
  font-size: inherit;
  font-weight: bold;
}

.soc__items {
  width: 250px;
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.soc__item {
  width: 40px;
  height: 40px;
  fill: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.35s ease;
  -ms-transition: all 0.3s ease;
}
.soc__item:hover {
  cursor: pointer;
  fill: #4C91F8;
}

.restore-block {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restore-block .form-name {
  font-size: 20px;
  color: #4C91F8;
}
.restore-block .control-label {
  display: inline-block;
  width: 220px;
  font-size: 20px;
}

.disabled_repeat {
  color: #c2ddff !important;
  border-color: #c2ddff !important;
}
